ul{
    list-style: none;
    color: rgb(108, 117, 125);
}

#checkmark1{
  color:  rgb(55, 81, 126);
}

  .section-title p {
    margin-bottom: 0;
  }
  
  .btn-outline-primary{
    color: rgb(55, 81, 126) !important;
  }

  #about-p{
    color: rgb(108, 117, 125);
  }

  #about-d{
    color: rgb(108, 117, 125);
  }
